spring:
  ai:
    model:
      chat: google-genai

    google:
      genai:
        api-key: ${GOOGLE_API_KEY}

        chat:
          options:
            model: gemini-2.5-flash
            temperature: 0.7